*.DS_Store
*.class
*.eml
*.iml
*.ipr
*.iws
*.lock
*.mode1v3
*.mode2v3
*.out
*.pbxuser
*.perspective
*.perspectivev3
*.pyc
*.sqlite3
*.sublime-*
*.swp
*.un~
*~
*~.nib
.*.s[a-w][a-z]
.*.sw?
.cache
.classpath
.ensime*
.idea
.idea/
.metadata
.netrwhist
.project
.settings
/.lib/
Session.vim
build/*
config/database.yml
core/lib_managed
core/target
jrebel.lic
lib_managed/*
log/*
logs/*
project/boot
project/build/lib_managed
project/build/src_managed
project/build/target
project/plugins/lib_managed
project/plugins/project
project/plugins/src_managed
project/plugins/target
pubsub/lib_managed
pubsub/target
target/
tmp/*
